@model Day30.Practice.Models.Product

@{
    ViewBag.Title = "Details";
}

<h3>Product Name : @Model.ProductName</h3>
<ul>
    <li><b>Category: </b>@Model.Category.Name</li>
    <li><b>Price: </b>@Model.Price</li>
    <li><b>Quantity: </b>@Model.Quantity</li>
</ul>

